.form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 20px;
}

.fieldset {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--white);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  width: 90%;
  box-sizing: border-box;
  gap: 15px;
}

.fieldset .legend {
  padding: 0 20px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input,
.select {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid var(--gray);
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input:focus,
.select:focus {
  border-color: var(--blue);
  box-shadow: 0 0 4px var(--blue);
}

.input:hover,
.select:hover {
  border-color: var(--blue);
}

.button {
  height: 50px;
  padding: 10px 20px;
  background-color: var(--purple);
  color: var(--white);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin: 10px 30px;
  transition: background-color 0.3s, transform 0.2s;
}

button.button {
  font-size: 1.3em;
}

.button:hover {
  background-color: var(--pink);
  transform: translateY(-2px);
}

.addCustomer {
  display: inline-flex;
  align-items: center;
  font-weight: lighter;
  color: var(--white);
  font-size: 25px;
  margin-left: auto;
}

.loginForm {
  width: 100vw;
}

.loginForm .legend {
  color: var(--white);
  font-size: 1.5em;
}

.loginPasswordContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.loginForm .input {
  width: 100%;
  margin-top: 1em;
}

.loginPasswordContainer .inputContainer {
  position: relative;
  width: 100%;
}

.loginPasswordContainer .showPasswordButton {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  right: 10px;
  top: 54%;
  transform: translateY(-50%);
  font-size: 1.2em;
  color: var(--gray);
  transition: color 0.3s;
}

@media only screen and (min-width: 768px) {
  .fieldset {
    width: 80%;
  }

  .legend {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1024px) {
  .fieldset {
    width: 60%;
    margin: 40px auto;
  }

  .form {
    width: 90%;
    margin: 0 auto;
  }

  .input, .select {
    font-size: 1.1em;
  }

}

@media only screen and (min-width: 1440px) {
  .fieldset {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .fieldset {
    padding: 15px;
    width: 100%;
  }

  .input,
  .button {
    font-size: 14px;
  }

  .legend {
    font-size: 18px;
  }
}