.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1em;
  background-color: var(--gray);
}

.cardContainer {
  display: grid;
  gap: 2em;
  width: 100%;
  max-width: 1200px;
}

.card {
  background-color: #dadada;
  padding: 2em;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cardTitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
  color: var(--purple);
  border-bottom: 3px solid var(--pink);
  padding-bottom: 0.5em;
}

.cardLink {
  display: block;
  font-size: 1.2em;
  text-decoration: none;
  margin: 0.5em 0;
  padding: 0.75em 1em;
  border-radius: 8px;
  color: var(--white);
  background-color: var(--purple);
  transition: background-color 0.3s, transform 0.3s;
}

.cardLink:hover {
  background-color: var(--pink);
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) {
  .cardContainer {
    width: 70vw;
  }
}

@media only screen and (min-width: 1024px) {
  .cardContainer {
    width: 50vw;
  }
}