.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: Arial, sans-serif;
  position: relative;
}

.spinnerWrapper {
  position: relative;
  width: 150px;
  height: 150px;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 10px solid var(--pink);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white);
  z-index: 10;
}
